<ion-header>
  <ion-toolbar>
    <ion-title>Login de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!uid">
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input
        type="text"
        name="email"
        [(ngModel)]="email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input
        type="password"
        name="pws"
        [(ngModel)]="pws"
        minlength="6"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button type="submit" [disabled]="!fc.valid">Entrar</ion-button>
      <ion-button type="reset" [routerLink]="'/'">Cancelar</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button (click)="addUser()" expand="block">Novo Usuário</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button (click)="loginG()" expand="block"
        >Login pelo Google</ion-button
      >
    </ion-item>
  </form>
</ion-content>

<ion-content *ngIf="(afAuth.user | async) as user">
  <img src= '{{ user.photoURL }}' alt="" /> <br />
  <ion-label>Nome: </ion-label>
  <ion-text> {{ user.displayName }} </ion-text> <br />
  <ion-label>E-mail: </ion-label>
  <ion-text> {{ user.email }} </ion-text>
  <ion-label>ID: </ion-label> <br />
  <ion-text> {{ user.uid }} </ion-text>

  <ion-text> </ion-text>
</ion-content>
