<ion-header>
  <ion-toolbar>
    <ion-title>Login de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label>E-mail ou login</ion-label>
      <ion-input type="text" name='email' [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" name='pws' [(ngModel)]="pws" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button [disabled] = "!fc.valid" >Entrar</ion-button>
    </ion-item>
  </form>

</ion-content>